@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div style="background-color:beige">
    <header class="text-center">
        <h1 class="display-4">Welcome to Razor Pages</h1>
        <h2>by @Model.FullName</h2>
    </header>

    <form method="post" class="mx-auto" style="width:200px">
        <p class="col-sm-2">
            <label>Name</label>
            <input type="text" required="true" placeholder="Your Full Name" asp-for="FullName" />
        </p>
        <p class="col-sm-4">
            <label>Email</label>
            <input type="email" required="true" placeholder="Your Email Address" name="email" />
        </p>
        <p class="col-sm-2">
            <button type="submit" class="btn btn-primary">Register</button>
        </p>
    </form>
</div>

